<%- include("header") %>
<div class="d-flex flex-column">
  <div class="container-md">
    <div class="row align-items-center mt-5">
      <div class="col-md-12 text-light-emphasis" style="padding-bottom: 50%">
        <p class="text-wrap text-center">
          Hello im
          <a
            href="https://github.com/motebaya"
            class="text-decoration-underline text-secondary"
            >Motebaya</a
          >
          the person who develop this project.
        </p>
        <div class="col-md-12 text-center">
          <p class="fs-6 mb-0">Made with Framework & Languge:</p>
          <a href="#" class="text-secondary text-decoration-underline">
            Bootstrap5 </a
          >,
          <a href="#" class="text-secondary text-decoration-underline">
            Node JS </a
          >,
          <a href="#" class="text-secondary text-decoration-underline">
            Jquery </a
          >,
          <a href="#" class="text-secondary text-decoration-underline">
            Express JS
          </a>
        </div>
      </div>
    </div>
  </div>
  <%- include("footer", {Utils: undefined}) %>
</div>
