<a href="#" class="back-to-top"><i class="bi-chevron-double-up"></i></a>
<footer class="footer mt-auto mb-2">
  <div class="container-fluid">
    <div class="text-center">
      <p>&copy; Copyright 2023 - Made With &#9749; by <a href="https://github.com/motebaya">Motebaya</a> | <a href="/api/docs">Api's</a> | <a href="/about">About</a></p>
    </div>
  </div>
</footer>
<script>
  var usernameRegex = `<%= Utils !== undefined ? Utils.usernameRegex.source : "" %>`
</script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/tiktokjs-func-3.2.1.min.js"></script>
</body>
</html>