<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="height=device-height,width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta property="og:title" content="ExpressJS - TikTok video downloader">
    <meta property="og:description" content="a site builded with express js for download tiktok videos without watermark">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/logo.png">
    <link rel="stylesheet" href="/css/custom.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-icons.min.css" />
    <link rel="icon" href="/images/logo.ico" />
    <title><%= title %></title>
  </head>
  <header class="mb-4 shadow py-1">
    <nav class="navbar">
      <div class="container col-md-12">
        <a class="navbar-brand" href="/">
          <i class="bi-tiktok me-1">TikTok dl</i>
        </a>

        <a href="#" id="themes" class="navbar-brand">
          <i class="bi-brightness-high-fill"></i>
        </a>
      </div>
    </nav>
  </header>
