<%- include('header') %>
<div class="d-flex flex-column min-vh-100">
  <div class="container-md">
    <%- include('form') -%>
    <div class="row mb-3" id="content" style="display: none"></div>
  </div>
  <%- include('footer') %>
</div>
